    body{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 1000px;
        height: auto;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        height: 50px;
        background-color:#0073ba;
    }
    .header .header-menu ul{
        margin: 0;
        padding:0;
        list-style: none;
        display: flex;
    }
    .header .header-menu ul li{
        line-height:40px;
        margin-left: 40px;
        padding: 5px 10px;
        cursor: pointer;
        color:white;
    }
    .header .header-menu ul li:hover{
    background-color:#335984;
    }
    .header-home{
        width: 100%;
        height: 50px;
        float: right;
    }
    .header-home a{
        color:#d1d1d1;
        text-decoration: none;
        float: right;
    }
    .header-home .link{
        margin-top:15px;
        margin-right: 20px;
    }
    .body-left{
        width: 25%;
        float: left;
    }
    .body-left ul{
        border: 1px solid #d1d1d1;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .body-left ul li{
        cursor: pointer;
        border-bottom: 1px solid #d1d1d1;
        padding:10px;
        margin-top:10px;
    }
    .body-right{
        width: 70%;
        float: right;
    }
    .body-right h2{
        margin-left: 20px;
        margin: 0;
        padding: 0;
        color: #d1d1d1;
    }
    .body-right ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .body-right ul img{
        margin-right: 15px;
        width: 150px;
        height: 150px;
        float: left;
        margin-bottom: 20px;
    }
    .body-right ul li{
        cursor: pointer;
        margin-bottom: 20px;
        border-bottom: 1px solid #dee2e6;
        float: left;
    }
    .body-right ul button{
        width: 100px;
        height: 30px;
        border:none;
        cursor: pointer;
        background-color:#0073ba;
        border-radius:5px
    }
    .footer{
        width: 100%;
        height: 100px;
        clear: both;
        background-color: #f1f1f1;
        text-align: center;
        line-height:50px;
    }
    .footer a{
        border-radius:50%;
        font-size:16px;
       margin-left: 10px;
    }
   
    
